.background-yellow {
    -fx-background-color: #f5c518;
}

.background-black {
    -fx-background-color: #000000;
}

.background-light-black {
    -fx-background-color: #454545;
}

.text-white {
    -fx-text-fill: #ffffff;
}

.text-movieTitle {
    -fx-font-weight: 700;
    -fx-text-fill: white;
}

.text-genre {
    -fx-text-fill: #dcdcdc;
    -fx-font-weight: 200;
    -fx-font-style: italic;
}

.text-rating {
    -fx-text-fill: #fff200;
    -fx-font-weight: 700;
    -fx-font-size: 16;
}

.text-releaseYear {
    -fx-text-fill: #dcdcdc;
    -fx-font-weight: 200;
}

.list-view .list-cell:even {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.list-view .list-cell:odd {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.Btn {
    -fx-background-color:  #00acc1;
    -fx-text-fill: white;
}

.Btn:pressed {
    -fx-translate-y: 1;
}

.Btn:hover {
    -fx-background-color: #00838f;
}

.Reset {
    -fx-background-image: url("https://i.imgur.com/kJSSTYQ.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-color:  transparent;
    -fx-background-position: center center;

}

.Reset:pressed {
    -fx-translate-y: 1;
}


.movie-cell {
    -fx-background-color: black;
    -fx-padding: 2;
}

.filter-combo-box {
    -fx-background-color: white;
    -fx-text-fill: #ffffff;
}

.menuText {
    -fx-text-fill: #dcdcdc;
    -fx-font-weight: 200;
    -fx-font-style: italic;
    -fx-border-width: 2;
}