.background-yellow {
    -fx-background-color: #f5c518;
}

.background-black {
    -fx-background-color: #000000;
}

.background-light-black {
    -fx-background-color: #454545;
}

.text-white {
    -fx-text-fill: #ffffff;
}

.text-movieTitle {
    -fx-font-weight: 700;
    -fx-text-fill: white;
}

.text-genre {
    -fx-text-fill: #dcdcdc;
    -fx-font-weight: 200;
    -fx-font-style: italic;
}

.Btn {
    -fx-background-color:  #00acc1;
    -fx-text-fill: white;
}

.Btn:pressed {
    -fx-translate-y: 1;
}

.Btn:hover {
    -fx-background-color: #00838f;
}


.movie-cell {
    -fx-background-color: black;
    -fx-padding: 2;
}

.filter-combo-box {
    -fx-background-color: white;
    -fx-text-fill: #ffffff;
}